{% extends 'credit-login-notes/content.html' %}


{% block content %}

<div class="heading">
    <h5>Payment Card</h5>
</div>
<div class="contentwrapper">
    <form action="" method="POST">{% csrf_token %}
        <h6>Name:</h6>
        {{ form.name }}

        <h6>Card Number:</h6>
        <input type="number" name="getnumber" value="{{ storednumber }}" min="1000000000000000" max="9999999999999999" required id='thisnumber'>
        <span class="icons" onclick="shownumber()"><i class="fas fa-eye"></i></span>
        <span class="icons" onclick="copynumber()"><i class="fas fa-copy"></i></span>

        <h6>Brand:</h6>
        {{ form.brand }}

        <h6>Expiration Month:</h6>
        {{ form.expirationmonth }}

        <h6>Expiration Year:</h6>
        {{ form.expirationyear }}

        <h6>Pin Number:</h6>
        <input type="number" name="getpin" value="{{ storedpin }}" min="1000" max="9999" required class="thispin">
        <span class="icons" onclick="showpin()"><i class="fas fa-eye"></i></span>
        <span class="icons" onclick="copypin()"><i class="fas fa-copy"></i></span>

        <h6>Cvv:</h6>
        <input type="number" name="getcvv" value="{{ storedcvv }}" min='0' max="999" required class='thiscvv'>
        <span class="icons" onclick="showcvv()"><i class="fas fa-eye"></i></span>
        <span class="icons" onclick="copycvv()"><i class="fas fa-copy"></i></span>

        <h6>last Updated:</h6>
        <p>{{ updated }}</p>

        <button type="submit" value="save" name="pk">Save</button>
    </form>
</div>

{% endblock content %}